@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');
$yellow:yellow;
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    /* adds animation for all transitions */
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}


/* actual page content pane */

#page-content {
    margin-left: 0px;
    margin-top: 80px;
    width: 100%;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    //padding: 20px; 
}

// Styles for header
header {
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 23px 30px;
    font-size: 30px;
    line-height: 30px;
    z-index: 0;
    background-color: white;
    @extend .clearfix;
    div {
        float: left;
    }
    .header-ham-icon {
        cursor: pointer;
    }
    .header-logo {
        font-family: PTSerif;
        font-size: 22.5px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: #1f4ba5;
        padding: 0 25px;
    }
}

.header-nav-wrp {
    list-style: none;
    float: left;
    .header-nav-item {
        float: left;
        font-family: 'Varela Round', sans-serif;
        font-size: 12px;
        font-size: 14px;
        text-align: left;
        color: #222222;
        padding-left: 40px;
        position: relative;
        .icon {
            background-image: url('../assets/images/chevron.png');
            height: 30px;
            width: 25px;
            background-repeat: no-repeat;
            background-position: 50%;
        }
    }
}

.header-options-wrp {
    float: right;

    ul {
        position: relative;
        @extend .clearfix;
        list-style: none;
        li {
              position: relative;
            float: left;
            padding-left: 40px;
            cursor: pointer;
        }
    }
    .badge {
        position: absolute;
        width: 18px;
        height: 18px;
        background-color: #1f4ba5;
        border-radius: 50%;
        right: -8px;
    }
}

.page-top-wrp {
    height: 480px;
}

.page-carousel-wrp {
    padding: 0px !important;
}

.page-right-ad-wrp {
    padding: 0px !important;
}

.carousel-inner {
    .item {
        height: 480px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.cat-widget-content {
    .cat-widget-item {
        height: 260px;
        border: 1px solid #ececec;
        border-top: none;
        box-sizing: border-box;
        padding: 30px;
        &:nth-child(odd) {
            border-right: none;
        }
        &:nth-child(even) {
            border-right: none;
        }
        &:last-child {
            border-right: 1px solid #ececec;
        }
    }
}

.cat-item-name {
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #222222;
    padding-bottom: 10px;
}

.cat-item-image {
    height: 145px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.cat-item-bottom-wrp {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-align: center;
    color: #222222;
    padding-top: 10px;
    .offer-info {
        text-align: right;
        width: 33.33333333%;
        float: left;
        min-height: 1px;
    }
    .price {
        width: 33.33333333%;
        float: left;
        text-align: center;
    }
    .old-price {
        width: 33.33333333%;
        float: left;
        text-align: right;
        text-decoration: line-through;
        font-family: 'Oswald', sans-serif;
        font-size: 8px;
        letter-spacing: 0.8px;
        color: #a1a1a1;
        line-height: 18px;
    }
}

.sale {
    background-color: #FF3C3C;
}

.hit {
    background-color: yellow;
}

.arrow_box {
    position: relative;
    width: 35px;
    color: #fff;
    text-align: center;
}

.arrow_box:after,
.arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-left-color: #88b7d5;
    border-width: 9px;
    margin-top: -9px;
}

// 
.content-item {
    background: url();
    @include backface-visibility( hidden);
    background-repeat: no-repeat;
    height: 120px;
    overflow: hidden;
    position: relative;
    width: 100%;
    .overlay {
        bottom: 0;
        height: 0;
        opacity: 0.8;
        position: absolute;
        right: 0;
        text-indent: -9999px;
        @include transition(all .5s ease-out);
        width: 0;
    }
    &:hover .overlay {
        border-bottom: 220px solid #fff; //size must be double container
        border-left: 800px solid transparent; //size must be double container
        @include transition(all .5s ease-out);
    }
    .overlay-content {
        bottom: 0;
        color: #333;
        left: 0;
        opacity: 0;
        padding: 30px;
        position: absolute;
        right: 0;
        top: 0;
        @include transition(all .3s ease-out);
    }
    &:hover .overlay-content {
        opacity: 0.5;
        @include transition(all .3s ease-out);
        @include transition-delay(.3s);
    }
}

.cat-brand-item {
    background-size: 80px 80px;
    background-repeat: no-repeat;
    height: 120px;
    background-position: 50%;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border-left: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    width: 12.43%;
    float: left;
    box-sizing: content-box;
    display: table;
    &:last-child {
        // background-image:
    }
    .text {
        font-family: Oswald;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 1.4px;
        text-align: center;
        color: #1f4ba5;
        display: table-cell;
        vertical-align: middle;
        padding: 0 50px;
    }
}

footer {
    background-color: #353535;
}

.footer-top-wrp {
    padding: 25px 90px;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    ul {
        margin: 0px;
        @extend .clearfix;
    }
    li {
        float: left;
        width: 16.666666%;
    }
}

.footer-bottom-center {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-bottom-left {
    padding: 20px;
    font-family: 'PT Serif', serif;
    .text {
        font-size: 15.8px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: #b4b4b4;
        padding: 15px;
    }
    .msg {
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: rgba(255, 255, 255, 0.3);
    }
}

.footer-search-wrp {
    background-color: #393939;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px 20px;
    margin: 15px;
    .mail-icon {
        background-image: url('../assets/images/mail.png');
        display: inline-block;
        height: 20px;
        width: 20px;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 100%;
    }
    .next-icon {
        background-image: url('../assets/images/next.png');
        display: inline-block;
        height: 20px;
        width: 20px;
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 80%;
    }
    input {
        background: transparent;
        border: none;
        color: #fff;
        display: inline-block;
        width: calc(100% - 50px);
        &:active {
            outline: none;
            border: none;
        }
    }
}

.footer-options-wrp {
    opacity: 0.6;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    padding: 0 60px;
    margin-bottom: 20px;
    ul {
        margin: 0px;
        @extend .clearfix;
    }
    li {
        float: left;
        width: 33.33333%;
    }
}

.footer-bottom-center {
    padding-top: 20px;
}

.footer-bottom-right {
    padding: 0px !important;
}

.footer-right-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
    @extend .clearfix;
    .social-icon {
        height: 20px;
        width: 25%;
        background-repeat: no-repeat;
        float: left;
        background-position: 50%;
    }
}

.footer-right-bottom {
    padding: 20px 30px;
    @extend .clearfix;
    .social-icon {
        height: 20px;
        width: 33.33333%;
        background-repeat: no-repeat;
        float: left;
        background-position: 50%;
    }
}
