header
    .header-ham-icon
        img(ng-src='../assets/images/ham.png')
    .header-logo BuyBlue
    ul.header-nav-wrp.clearfix.visible-lg.visible-md
        li.header-nav-item
          .text Men
          .icon
        li.header-nav-item
          .text Women
          .icon
        li.header-nav-item
          .text Kids
          .icon
        li.header-nav-item
          .text Accessories
          .icon        
    .header-options-wrp
      ul
        li.header-opt-wrp
          .badge 3
          .icon
            img(ng-src='../assets/images/bag.png')
        li.header-opt-wrp
          .icon
            img(ng-src='../assets/images/user.png')
        
        li.header-opt-wrp
          .icon
            img(ng-src='../assets/images/search.png')
#page-content
    .page-top-wrp
        .page-top-wrp.container-fluid
            .row
                .page-carousel-wrp.col-sm-12.col-md-12.col-lg-9
                    #myCarousel.carousel.slide(data-ride='carousel')
                        .carousel-inner(role='listbox')
                            .item.active
                                img(ng-src='../assets/images/1.jpg')
                            .item
                                img(ng-src='../assets/images/2.jpg')
                            .item
                                img(ng-src='../assets/images/3.jpg')            

                .page-right-ad-wrp.col-sm-12.col-md-3.col-lg-3.visible-lg
                    .page-right-widget-container
                      .content-item(ng-repeat='item in sidePanelImages' ng-style='getBrandImageBg(item.image)')
                        .overlay
                        .overlay-content
                        
    .page-bottom-content
            .cat-widget-content.container-fluid
                .row
                    .cat-widget-item.col-sm-6.col-md-3.col-lg-3(ng-repeat='list in listing')
                        .cat-item-wrp
                            .cat-item-name {{list.name}}
                            .cat-item-image(ng-style='getBrandImageBg(list.image)')
                            .cat-item-bottom-wrp.clearfix(ng-if='list.type=== "sale"')
                                .offer-info
                                    .arrow_box.hit Hit
                                .price $123
                            .cat-item-bottom-wrp.clearfix(ng-if='list.type=== "hit"')
                                .offer-info
                                .price $123
                            .cat-item-bottom-wrp.clearfix(ng-if='list.type=== "normal"')
                                .offer-info
                                    .arrow_box.sale Sale
                                .price $123
                                .old-price $180
            .cat-widget-content.container-fluid
                .row
                    .cat-brand-item(ng-repeat='brand in brands' ng-style='getBrandImageBg(brand.image)')
                    .cat-brand-item
                        .text ALL BRANDS
footer
    .footer-top-wrp
        ul
            li Men
            li Women
            li Kids
            li Accessories
            li Look Book
            li Blog
    .footer-bottom-wrp.container-fluid
        .row
            .footer-bottom-left.col-md-3.col-sm-6.col-lg-3
                .text Buy Blue
                .msg © 2015 DivanRaj UI Kit. All rights resrved.


            .footer-bottom-center.col-md-6.col-sm-6.col-lg-6
                .footer-search-wrp
                    .mail-icon
                    input
                    .next-icon    
                .footer-options-wrp
                    ul
                        li Privacy & Cookies       
                        li Terms & Conditions
                        li Accessibility     
            .footer-bottom-right.col-md-3.col-sm-6.col-lg-3
                .footer-right-top
                    .social-icon(ng-repeat='logo in socialLogos' ng-style='getBrandImageBg(logo.image)')
                .footer-right-bottom
                    .social-icon(ng-repeat='logo in payLogos' ng-style='getBrandImageBg(logo.image)')        
